html {
    box-sizing: border-box;
}

a {
    animation: 100ms;
}

.overlay {
    box-shadow: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.flex-box {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 30px;
    padding: 10px;
}

.sidebar {
    background-color: #ffffff;
    bottom: 0;
    box-shadow: inset -1px 0 0 #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 1;
}
