### Mac OSX + Windows ###
.DS_Store
Thumbs.db

### Node ###
.node/
node_modules/
npm-debug.log

### Idea ###
.idea/

### Vim ###
*.sw[op]
*.un~

### Yarn ###
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions