version: 2
jobs:
  verify:
    docker:
      - image: cimg/node:18.12.0
    steps:
      - checkout
      - run: yarn install --immutable
      - attach_workspace:
          at: '.'
      - run: yarn test

  deploy-npm:
    docker:
      - image: cimg/node:18.12.0
    steps:
      - checkout
      - attach_workspace:
          at: '.'
      - run: yarn install --immutable
      - run: ./scripts/circle-publish-npm
  circle-all:
    docker:
    - image: busybox:1.34.1
    resource_class: small
    steps:
    - run:
        command: echo "All required jobs finished successfully"

workflows:
  version: 2
  verify_deploy:
    jobs:
      - verify:
          filters:
            tags:
              only: /.*/
      - deploy-npm:
          requires: [verify]
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - circle-all:
          requires:
          - verify
          filters:
            tags:
              only: /.*/
